.ContainerInfoCh{
    background-color: #337A93;
    align-self: center;
    margin-top: 8%;
    height: 70%;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.imageContainerCharacter{
    height: 70%;
    width: 20%;
    background-color: transparent;
    margin-left: 5%;
}

.imageCharacter{
    width: 100%;
    height: 100%;
    background-color: transparent;
    object-fit: contain;
}

.infoCharacters{
    background-color: #EDEECA;
    width: 60%;
    margin-left: 8%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerTextCharacters{
    height: 60%;
    width: 90%;
    font-weight: lighter;
    text-align: justify;
}

.btnEdit{
    height:10%; 
    width:90%;
    margin-top:20%;
    background-color: #ec9e51;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    color: #EDEECA;
}