.Principal{
  position: absolute;
  background-color:  #494949;
  height:70%;
  width:80%;
  display:flex;
  flex-direction:column;
  margin-top: 7%;
  align-items: center;
  justify-content: center;
  align-self: center;
}
.contanerTotal{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.containerObjects{
  margin-top: 83%;
  background-color: #494949;
  position: absolute;
  align-self: center;
  height: 70%;
  width: 80%;
}

.CotainerCharacters{
  margin-top: 45%;
  background-color: #ec9e51;
  position: absolute;
  align-self: center;
  height: 70%;
  width: 80%;
}

.TituloJuegos{
  margin-left: 3%;
  width: 100%;
  color: white;
}

.whiteLine{
  background-color: white;
  height: 0.3%;
  width: 100%;
}

.containerGames{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 90%;
  margin-left: 1%;
  margin-top: 0.6%;
}

.btnAnterior{
  background-color: #fbf1e9;
  border-radius: 20%;
  color: green;
  font-weight: bold;
  cursor: pointer;
  height: 10%;
}
.btnSiguiente{
  background-color: #fbf1e9;
  border-radius: 20%;
  color: green;
  font-weight: bold;
  cursor: pointer;
  height: 10%;
  margin-left: 2%;
}